@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {

  font-family: 'Inter';
  color: #2B2F30;

}
